.badgee__logo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  color: $blanco;
  z-index: 100;
  transition: all 0.5s ease;
  &.close {
    width: 78px;
    .logo-details .logo_name {
      transition-delay: 0s;
      opacity: 0;
      pointer-events: none;
    }
    .nav-links {
      overflow: visible;
      li {
        .iocn-link {
          display: block;
          .wrap-link_name .link_name {
            opacity: 0;
            pointer-events: none;
          }
          i {
            cursor: pointer;
          }
        }
        .sub-menu {
          position: absolute;
          left: 100%;
          top: -10px;
          margin-top: 0;
          padding: 10px 20px;
          border-radius: 0 6px 6px 0;
          opacity: 0;
          display: block;
          pointer-events: none;
          transition: 0s;
          .link_name {
            font-size: 18px;
            opacity: 1;
            display: block;
          }
        }
        &:hover .sub-menu {
          top: 0;
          opacity: 1;
          pointer-events: auto;
          transition: all 0.4s ease;
        }
      }
      i.arrow {
        display: none;
      }
    }
    .profile-details {
      background: none;
      width: 78px;
      img {
        padding: 10px;
      }
      i,
      .profile_name,
      .job {
        display: none;
      }
    }
  }
  .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
    gap: 0.7rem;
    i {
      font-size: 30px;
      height: 50px;
      min-width: 78px;
      text-align: center;
      line-height: 50px;
    }
    .logo_name {
      font-size: 14px;
      text-align: center;
      // padding: 10px 10px 0 0;
      transition: 0.3s ease;
      transition-delay: 0.1s;
    }
  }
  .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
    li {
      position: relative;
      list-style: none;
      transition: all 0.4s ease;
      &:hover {
        background: #1d1b31;
        .sub-menu.blank {
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .iocn-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .arrow {
          cursor: pointer;
        }
      }
      i {
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        color: $blanco;
        transition: all 0.3s ease;
      }
      &.showMenu {
        i.arrow {
          transform: rotate(-180deg);
        }
        .sub-menu {
          display: block;
        }
      }
      .wrap-link_name {
        display: flex;
        align-items: center;
        text-decoration: none;
        .link_name {
          font-size: 18px;
          font-weight: 400;
          color: #fff;
          transition: all 0.4s ease;
        }
      }
      .sub-menu {
        padding: 6px 6px 14px 80px;
        margin-top: -10px;
        background: #1d1b31;
        display: none;
        a {
          color: #fff;
          font-size: 15px;
          padding: 5px 0;
          white-space: nowrap;
          opacity: 0.6;
          transition: all 0.3s ease;
          &:hover {
            opacity: 1;
          }
          span {
            margin-left: 15px;
          }
        }
        .link_name {
          display: none;
        }
        &.blanck {
          opacity: 1;
          pointer-events: auto;
          padding: 3px 20px 6px 16px;
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
  .nav-links::-webkit-scrollbar {
    display: none;
  }
  .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
    .profile-content {
      display: flex;
      align-items: center;
    }
    img {
      height: 52px;
      width: 52px;
      object-fit: cover;
      border-radius: 16px;
      margin: 0 14px 0 12px;
      background: #1d1b31;
      transition: all 0.5s ease;
    }
    .profile_name,
    .job {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      padding-right: 1rem;
      // white-space: nowrap;
    }
    .job {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 400px) {
  .sidebar.close {
    width: 0;
    .nav-links {
      display: none;
      li .sub-menu {
        display: none;
      }
    }
  }
  .sidebar {
    width: 78px;
    .logo-details {
      display: none;
      .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
      }
    }
    .nav-links {
      overflow: visible;
      li {
        .iocn-link {
          display: block;
          .wrap-link_name .link_name {
            opacity: 0;
            pointer-events: none;
          }
          i {
            cursor: pointer;
          }
        }
        .sub-menu {
          position: absolute;
          left: 100%;
          top: -10px;
          margin-top: 0;
          padding: 10px 20px;
          border-radius: 0 6px 6px 0;
          opacity: 0;
          display: block;
          pointer-events: none;
          transition: 0s;
          .link_name {
            font-size: 18px;
            opacity: 1;
            display: block;
          }
        }
        &:hover .sub-menu {
          top: 0;
          opacity: 1;
          pointer-events: auto;
          transition: all 0.4s ease;
        }
      }
      i.arrow {
        display: none;
      }
      .profile-details {
        background: none;
        width: 78px;
        img {
          padding: 10px;
        }
        i,
        .profile_name,
        .job {
          display: none;
        }
      }
    }
  }
}
