

.modal-background {
  background-color: white;
}

.boo {
  padding: 0.5rem;
  background-color: violet;
  color: white;
  border-radius: 5px;
  margin: 3px;
}
.boo2 {
  background-color: gray;
}
.boo3 {
  background-color: rgb(11, 10, 20);
}
